<div class="app-body">
    <main class="main">
        <cui-breadcrumb>
            <li class="d-md-down-none">
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <a class="btn" [routerLink]="['/dashboard']" routerLinkActive="active"><i class="icon-home"></i>
                 </a>
                    <a class="btn" [routerLink]="['/account/users/']"><i class="icon-people"></i> users </a>
                    <a class="btn" [routerLink]="['/account/roles/']"><i class="icon-list"></i> Roles </a>
                </div>
            </li>
            <li class="breadcrumb-menu nav-item dropdown" dropdown placement="bottom right">
                <a class="nav-link" data-toggle="dropdown" href="javascript:;" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
                    <img *ngIf="avatarUrl" [src]="avatarUrl" class="userProfileImage" alt="UserProfileImage" />
                    <!-- <img *ngIf="!avatarUrl" src="assets/img/avatar.png" class="userProfileImage" alt="userproffleImage" /> -->
                </a>
                <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
                    <div class="dropdown-header text-center"><strong>Settings</strong></div>
                    <a class="dropdown-item" [routerLink]="['/account/profile']"><i class="fa fa-user"></i> Profile</a>
                    <a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Setting</a>
                    <div class="divider"></div>
                    <a class="dropdown-item" [routerLink]="['/account/']"><i class="fa fa-shield"></i>Account Managment</a>
                    <a class="dropdown-item" href="javscript:;" (click)="logout()"><i class="fa fa-lock"></i> Logout</a>
                </div>
            </li>
        </cui-breadcrumb>

        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>

    </main>


</div>
