<div class="modal-header">
    <h4 class="modal-title">{{modalHeader}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="form-group has-float-label col-md-6 col-sm-12">
            <label>First Name</label>
            <input type="text" class="form-control" name="firstName" [(ngModel)]="user.firstName">
        </div>
        <div class="form-group has-float-label col-md-6 col-sm-12">
            <label>Last Name</label>
            <input type="text" class="form-control" name="lastNamee" [(ngModel)]="user.lastName">
        </div>
        <div class="form-group has-float-label col-md-6 col-sm-12">
            <label>User Name</label>
            <input type="email" class="form-control" name="userName" [(ngModel)]="user.userName">
        </div>

        <div class="form-group has-float-label col-md-6 col-sm-12">
            <label>Email Address</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="user.email">
        </div>

        <div class="form-group has-float-label col-md-6 col-sm-12">
            <label>Phone No</label>
            <input type="tel" class="form-control" name="phone" [(ngModel)]="user.phoneNumber">
        </div>
        <div class="form-group has-float-label col-md-6 col-sm-12">
            <label> Roles </label>
            <ng-select [items]="roleList | async" [multiple]="true" [closeOnSelect]="false" [searchable]="true" bindLabel="displayName" placeholder="Select Roles" [(ngModel)]="selectedRoleList">
            </ng-select>
        </div>
        <div class="form-group has-float-label col-md-12 col-sm-12" *ngIf="submitButton == 'update'">
            <label for="UpPassword" placement="right" tooltip="Update Password">
        <input type="checkbox" id="UpPassword" (click)="ShowPasswordFields()">
        Update Password
      </label>
        </div>
        <div class="form-group has-float-label col-md-6 col-sm-12" *ngIf="ShowPassFields || submitButton != 'update'">
            <label>Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="user.password">
        </div>
        <div class="form-group has-float-label col-md-6 col-sm-12" *ngIf="ShowPassFields || submitButton != 'update'">
            <label>Confirm Password</label>
            <input type="password" class="form-control" name="Cpassword" [(ngModel)]="Cpassword" (blur)="ConfirmPass(Cpassword)">
        </div>
    </div>


    <!-- <button *ngIf="submitButton == 'update' && !ShowPassFields" type="button" style="font-size: .9em;" class="btn btn-sm badge badge-pill badge-success mr-2 mb-3" (click)="ShowPasswordFields()">Show Password Field</button>
      <button *ngIf="submitButton == 'update' && ShowPassFields" type="button" style="font-size: .9em;" class="btn btn-sm badge badge-pill badge-danger mr-2 mb-3" (click)="ShowPasswordFields()">Hide Password Field</button> -->
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-success" (click)="createOrupdateUser()">{{submitButton}}</button>
    <button type="button" class="btn btn-sm btn-danger" (click)="activeModal.close()">Close</button>
</div>
