
<div class="animated fadeIn">
  <div class="card">
      <div class="card-header">
          <h5 class="pull-left"> Product Categories </h5>
      </div>
      <div class="card-body row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header">
                      <h5 class="pull-left"> </h5>
                      <div class="pull-right">
                          <input type="text" id="searchFilter" class="input-sm form-control" style="width:255px" placeholder="SEARCH BY CATEGORY NAME">

                      </div>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-striped table-sm">
                              <thead class="thead-light text-center">
                                  <tr>
                                      <th>S.No</th>
                                      <th>Category Name</th>
                                      <th>Description</th>
                                      <th>Created At</th>
                                      <th>Status</th>
                                      <th>Action</th>
                                  </tr>
                              </thead>

                              <tbody>
                                <tr *ngFor="let inv of productCategoryList;let i=index">
                                  <td> {{ i + 1 }} </td>
                                  <td> {{ inv?.name }} </td>
                                  <td> {{ inv?.description }} </td>
                                  <td> {{ inv?.createdDate | date:fullDate  }} </td>
                                  <td>
                                      <span *ngIf="inv.isActive" class="badge badge-pill badge-success mr-1" style="font-size: .9em;">{{ inv.isActive }}</span>
                                      <span *ngIf="!inv.isActive" class="badge badge-pill badge-danger mr-1" style="font-size: .9em;">{{ inv.isActive }}</span>
                                  </td>
                                  <td>
                                      <span class="pointer">
                                        <i class="fa fa-trash mr-1" (click)="Delete(inv)" placement="top" tooltip="Delete"></i>
                                      </span>
                                      <span class="pointer">
                                        <i class="fa fa-edit mr-1" (click)="Update(inv)" placement="top" tooltip="Update"></i>
                                      </span>
                                      <!-- <span class="pointer">
                                      <i class="fa fa-eye" (click)="openRoleDetailModal(inv)" style="color:black;"
                                        tooltip="View Role"> </i>
                                    </span> -->
                                  </td>
                              </tr>

                              </tbody>
                              <tfoot>
                               <tr *ngIf="productCategoryList.length == 0">
                                  <td colspan="9">
                                      <p>There is no recods to show</p>
                                  </td>
                              </tr>
                              <tr>
                                   <!-- (pageChanged)="onPageChange($event)" -->
                                    <strong class="text-primary pull-left mt-2">Total = {{totalElements| number}}</strong>
                                        <pagination  class="pull-right" [totalItems]="totalElements" [boundaryLinks]="true"
                                        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
                              </tr> 
                        </tfoot>

                          </table>
                      </div>
                  </div>
              </div>
          </div>
          <!-- add and update category -->
          <div class="col-md-4">
              <div class="card">
                  <div class="card-header">
                      <h5 class="pull-left">{{modalHeader}}</h5>
                  </div>

                  <form class="card-body">
                      <div class="row">
                          <div class="form-group has-float-label col-md-12 col-sm-12 mb-4">
                              <label for="cname">Category Name </label>
                              <input type="text" class="form-control" id="cname" name="xame" [(ngModel)]="productCategory.name" required>
                          </div>
                          <div class="form-group has-float-label col-md-12 col-sm-12 mb-4">
                              <label for="description"> Description </label>
                              <textarea rows="3" class="form-control" id="description" name="description" [(ngModel)]="productCategory.description" required></textarea>
                          </div>

                      </div>
                      <div class="pull-right mt-4 mb-1">
                          <button type="button" class="btn btn-sm btn-success mr-3" (click)="AddOrUpdateProductCategory()">
              {{submitButton}} </button>
                          <button type="button" class="btn btn-sm btn-danger" (click)="Cancel()">Cancel</button>
                      </div>

                  </form>
              </div>
          </div>
          <!--end add and update category -->
      </div>
  </div>
</div>
<!--end list category -->
