<br>
<div class="jumbotron">
  <p class="text-center">
    <button class="btn btn-lg btn-primary" type="button" (click)="loadSampleUsers()"> Users </button> |
    <button class="btn btn-lg btn-primary" type="button" (click)="loadSampleRoles()"> Roles </button> |
    <button class="btn btn-lg btn-primary" type="button" (click)="loadSamplePermissions()"> Permissions </button>
    <button class="btn btn-lg btn-primary" type="button" (click)="loadCustomers()"> loadCustomers </button>
  </p>
</div>

<pre>{{data | json}}</pre>




