<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <div class="pull-left">
        <h5>Add Product</h5>
        <!-- <label for="">SEARCH BY location NAME</label> -->
      </div>
      <button class="btn btn-sm btn-square btn-primary pull-right ml-1" type="button" (click)="createProduct()">
        <span class="fa fa-plus"></span> &nbsp; Save
      </button>

      <button class="btn btn-sm btn-square btn-primary pull-right" type="button" [routerLink]="['/products']">
        <span class="fa fa-arrow-left"></span> &nbsp; Back
      </button>

    </div>
    <div class="card-body row">
      <div class="card-body">
        <!-- start -->
        <form>
          <tabset class="tab-container">
            <tab>
              <ng-template tabHeading> Basic </ng-template>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="product-name"> Name. <span class="required">*</span> </label>
                  <input type="email" class="form-control" id="product-name" name="name" [(ngModel)]="productObj.name"
                    placeholder="" aria-describedby="area-name">
                  <small id="area-name" class="form-text text-muted">
                    Product name, cannot be longer than 50 characters.
                  </small>
                </div>

                <div class="form-group col-md-6">
                  <label for="description">Description</label>
                  <input type="text" id="description" name="description" [(ngModel)]="productObj.description"
                    class="form-control" aria-describedby="area-description">
                  <small id="area-description" class="form-text text-muted">
                    Product description, cannot be longer than 255 characters.
                  </small>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="brand" class="d-block">
                    <span class="pull-left">Brand</span>
                    <button class="btn btn-outline-info btn-sm round-small-btn pull-right" data-toggle="modal"
                      (click)="brandModal.show()" title="Add new"> <span class="fa fa-plus small"></span>
                    </button>
                  </label>
                  <select class="form-control" name="brand" id="brand" [(ngModel)]="productObj.productBrandId">
                    <option>Select Product Brand</option>
                    <option *ngFor="let item of productBrandListObs" [value]="item.id"> {{ item.name }}</option>
                  </select>
                  <small class="form-text text-muted">
                    Create your own brand to classify your products.
                  </small>
                </div>
                <div class="form-group col-md-4">
                  <label for="category" class="d-block">
                    <span class="pull-left">Category</span>
                    <button class="btn btn-outline-info btn-sm round-small-btn pull-right" data-toggle="modal"
                      (click)="categoryModal.show()" title="Add new"> <span class="fa fa-plus small"></span>
                    </button>
                  </label>
                  <select class="form-control" name="category" id="category" [(ngModel)]="productObj.productCategoryId">
                    <option>Select Product Category</option>
                    <option *ngFor="let item of productCategoryListObs" [value]="item.id"> {{ item.name }}</option>
                  </select>
                  <small class="form-text text-muted">
                    Create your own categories to classify your products.
                  </small>
                </div>
                <div class="form-group col-md-4">
                  <label for="supplier" class="d-block">
                    <span class="pull-left">Supplier</span>
                    <button class="btn btn-outline-info btn-sm round-small-btn pull-right" data-toggle="modal"
                      (click)="supplierModal.show()" title="Add new"> <span class="fa fa-plus small"></span>
                    </button>
                  </label>
                  <select class="form-control" name="supplier" id="supplier" [(ngModel)]="productObj.productSupplierId">
                    <option>Select Product Supplier</option>
                    <option *ngFor="let item of productSupplierListObs" [value]="item.id"> {{ item.name }}</option>
                  </select>
                  <small class="form-text text-muted">
                    Create your own supplier to classify your products.
                  </small>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="location" class="d-block">
                    <span class="pull-left">Location</span>
                    <button class="btn btn-outline-info btn-sm round-small-btn pull-right" data-toggle="modal"
                      (click)="locationModal.show()" title="Add new"> <span class="fa fa-plus small"></span>
                    </button>
                  </label>
                  <select class="form-control" name="location" id="location" [(ngModel)]="productObj.productLocationId">
                    <option>Select Product Location</option>
                    <option *ngFor="let item of productLocationListObs" [value]="item.id"> {{ item.name }}</option>
                  </select>
                  <small class="form-text text-muted">
                    Add location to your products.
                  </small>
                </div>
                <div class="form-group col-md-4">
                  <label for="size" class="d-block">
                    <span class="pull-left">Size</span>
                    <button class="btn btn-outline-info btn-sm round-small-btn pull-right" data-toggle="modal"
                      (click)="sizeModal.show()" title="Add new"> <span class="fa fa-plus small"></span>
                    </button>
                  </label>
                  <select class="form-control" name="size" id="size" [(ngModel)]="productObj.productSizeId">
                    <option>Select Product Size</option>
                    <option *ngFor="let item of productSizeListObs" [value]="item.id"> {{ item.name }}</option>
                  </select>
                  <small class="form-text text-muted">
                    Create your own size i.e medium or small.
                  </small>
                </div>
                <div class="form-group col-md-4">
                  <label for="color" class="d-block">
                    <span class="pull-left">Color</span>
                    <button class="btn btn-outline-info btn-sm round-small-btn pull-right" data-toggle="modal"
                      (click)="colorModal.show()" title="Add new"> <span class="fa fa-plus small"></span>
                    </button>
                  </label>
                  <select class="form-control" name="color" id="color" [(ngModel)]="productObj.productColorId">
                    <option>Select Product Color</option>
                    <option *ngFor="let item of productColorListObs" [value]="item.id"> {{ item.name }}</option>
                  </select>
                  <small class="form-text text-muted">
                    Add color to your products.
                  </small>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="buyingPrice">Buying Price</label>
                  <input type="text" id="buyingPrice" name="price" [(ngModel)]="productObj.buyingPrice"
                    class="form-control" aria-describedby="area-buyingPrice">
                  <small id="area-buyingPrice" class="form-text text-muted">
                    Estimated buying price of a product.
                  </small>
                </div>

                <div class="form-group col-md-4">
                  <label for="sellingPrice">Selling Price</label>
                  <input type="text" id="sellingPrice" name="sellingPrice" [(ngModel)]="productObj.sellingPrice"
                    class="form-control" aria-describedby="area-sellingPrice">
                  <small id="area-sellingPrice" class="form-text text-muted">
                    Estimated selling price of a product.
                  </small>
                </div>
                <div class="form-group col-md-4">
                  <label for="SKU"> Stock keeping unit </label>
                  <input type="text" [(ngModel)]="productObj.sKU" class="form-control" name="SKU" id="SKU"
                    placeholder="" aria-describedby="area-SKU">
                  <small id="area-SKU" class="form-text text-muted">
                    Stock Keeping Unit. Uniquely identifies a product internally.
                  </small>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="UPC"> Universal product code </label>
                  <input type="text" [(ngModel)]="productObj.uPC" class="form-control" name="UPC" id="UPC"
                    placeholder="" aria-describedby="area-UPC">
                  <small id="area-UPC" class="form-text text-muted">
                    Universal product code. Uniquely identifies a product externally.
                  </small>
                </div>
                <div class="form-group col-md-6">
                  <label for="minStockLevel"> Min Stock Level </label>
                  <input type="text" [(ngModel)]="productObj.minStockLevel" class="form-control" name="minStockLevel"
                    id="minStockLevel" placeholder="" aria-describedby="area-minStockLevel">
                  <small id="minStockLevel" class="form-text text-muted">
                    Set low inventory warnings.
                  </small>
                </div>
              </div>
            </tab>

            <tab>
              <ng-template tabHeading> Dimensions </ng-template>

              <div class="form-row">
                <div class="col-md-4 offset-md-4">
                  <div class="text-center">
                    <div class="image-wrapper">
                      <!-- <img [src]="productImageUrl" class="rounded-circle img-responsive mt-2" width="165" height="165"> -->
                    </div>
                    <br>
                    <div class="form-group">
                      <input #file type="file" multiple (change)="upload(file.files)" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="weight"> Weight </label>
                  <input type="text" [(ngModel)]="productObj.weight" class="form-control" name="weight" id="weight"
                    placeholder="" aria-describedby="area-weight">
                  <small id="weight" class="form-text text-muted">
                    Weight of a single piece.
                  </small>
                </div>
                <div class="form-group col-md-6">
                  <label for="width"> Width </label>
                  <input type="text" [(ngModel)]="productObj.width" class="form-control" name="width" id="width"
                    placeholder="" aria-describedby="area-width">
                  <small id="width" class="form-text text-muted">
                    Width of a single piece.
                  </small>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="Height"> Height </label>
                  <input type="text" [(ngModel)]="productObj.height" class="form-control" name="Height" id="Height"
                    placeholder="" aria-describedby="area-Height">
                  <small id="Height" class="form-text text-muted">
                    Height of a single piece.
                  </small>
                </div>


                <div class="form-group col-md-6">
                  <label for="Depth"> Depth </label>
                  <input type="text" [(ngModel)]="productObj.depth" class="form-control" name="Depth" id="Depth"
                    placeholder="" aria-describedby="area-Depth">
                  <small id="Depth" class="form-text text-muted">
                    Depth of a single piece.
                  </small>
                </div>
              </div>
            </tab>

            <!-- <tab>
              <ng-template tabHeading> URL </ng-template>

              <div class="form-group">
                <label for="productPageURL"> Product Page URL </label>
                <input type="text" [(ngModel)]="productObj.productPageURL" class="form-control" name="productPageURL"
                  id="productPageURL" placeholder="" aria-describedby="area-productPageURL">
                <small id="productPageURL" class="form-text text-muted">
                  URL of a product's page.
                </small>
              </div>
            </tab> -->

            <tab>
              <ng-template tabHeading> Logistics </ng-template>

              <div class="form-group">
                <label for="barcodeSystem"> Barcode System </label>
                <input type="text" [(ngModel)]="productObj.barcodeSystem" class="form-control" name="barcodeSystem"
                  id="barcodeSystem" placeholder="" aria-describedby="area-barcodeSystem">
                <small id="barcodeSystem" class="form-text text-muted">
                  EAN/UPC/ISBN.
                </small>
              </div>


              <div class="form-group">
                <label for="barcodeNumber"> Barcode Number </label>
                <input type="text" [(ngModel)]="productObj.barcodeNumber" class="form-control" name="barcodeNumber"
                  id="barcodeNumber" placeholder="" aria-describedby="area-barcodeNumber">
                <small id="barcodeNumber" class="form-text text-muted">
                  1120103127459 etc.
                </small>
              </div>
            </tab>

            <!-- <tab>
              <ng-template tabHeading> Attributes </ng-template>

              <div class="p-3">
                Color, Size
              </div>
            </tab> -->

          </tabset>
        </form>
      </div>

    </div>
  </div>
</div>


<!-- Modal -->
<div bsModal #categoryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-info modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Product Category</h5>
        <button type="button" class="close" (click)="categoryModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group has-float-label">
          <label for="name"> Name. <span class="required">*</span> </label>
          <input type="text" name="name" [(ngModel)]="productCategoryObj.name" class="form-control" id="name">
          <small class="form-text text-muted">
            name, cannot be longer than 50 characters.
          </small>
        </div>
        <div class="form-group has-float-label">
          <label for="description">Description</label>
          <input type="text" id="description" name="desc" [(ngModel)]="productCategoryObj.description"
            class="form-control">
          <small class="form-text text-muted">
            description, cannot be longer than 255 characters.
          </small>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" (click)="categoryModal.hide()">Close</button>
        <button type="button" class="btn btn-sm btn-primary" (click)="categoryModal.hide()"
          (click)="addDropdownItems('category')">
          Save </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div bsModal #sizeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-info modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Product Size</h5>
        <button type="button" class="close" (click)="sizeModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="name"> Name. <span class="required">*</span> </label>
          <input type="text" name="name" [(ngModel)]="productSizeObj.name" class="form-control" id="name">
          <small class="form-text text-muted">
            Size i.e large,medium,small etc.
          </small>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" id="description" name="desc" [(ngModel)]="productSizeObj.description" class="form-control">
          <small class="form-text text-muted">
            description, cannot be longer than 255 characters.
          </small>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" (click)="sizeModal.hide()">Close</button>
        <button type="button" class="btn btn-sm btn-primary" (click)="sizeModal.hide()"
          (click)="addDropdownItems('size')">
          Save </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div bsModal #locationModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-info modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Product Location</h5>
        <button type="button" class="close" (click)="locationModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group has-float-label">
          <label for="name"> Name. <span class="required">*</span> </label>
          <input type="email" name="name" [(ngModel)]="productLocationObj.name" class="form-control" id="name">
          <small id="NameField" class="form-text text-muted">
            Location, cannot be longer than 50 characters.
          </small>
        </div>
        <div class="form-group has-float-label">
          <label for="description">Description</label>
          <input type="text" id="description" name="desc" [(ngModel)]="productLocationObj.description"
            class="form-control">
          <small class="form-text text-muted">
            description, cannot be longer than 255 characters.
          </small>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" (click)="locationModal.hide()">Close</button>
        <button type="button" class="btn btn-sm btn-primary" (click)="locationModal.hide()"
          (click)="addDropdownItems('location')">
          Save </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div bsModal #colorModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-info modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Product Color</h5>
        <button type="button" class="close" (click)="colorModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group has-float-label">
          <label for="color"> Name. <span class="required">*</span> </label>
          <input type="text" name="name" [(ngModel)]="productColorObj.name" class="form-control" id="color">
          <small id="NameField" class="form-text text-muted">
            color, cannot be longer than 50 characters.
          </small>
        </div>
        <div class="form-group has-float-label">
          <label for="inputPassword4">Description</label>
          <input type="text" id="inputPassword5" name="desc" [(ngModel)]="productColorObj.description"
            class="form-control">
          <small id="description" class="form-text text-muted">
            description, cannot be longer than 255 characters.
          </small>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" (click)="colorModal.hide()">Close</button>
        <button type="button" class="btn btn-sm btn-primary" (click)="colorModal.hide()"
          (click)="addDropdownItems('color')">
          Save </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div bsModal #brandModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-info modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="area-category-modal">Add Product Brand</h5>
        <button type="button" class="close" (click)="categoryModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group has-float-label">
          <label for="name"> Name. <span class="required">*</span> </label>
          <input type="text" name="name" [(ngModel)]="productBrandObj.name" class="form-control" id="name">
          <small class="form-text text-muted">
            brand, cannot be longer than 50 characters.
          </small>
        </div>
        <div class="form-group has-float-label">
          <label for="description">Description</label>
          <input type="text" id="description" name="desc" [(ngModel)]="productBrandObj.description"
            class="form-control">
          <small class="form-text text-muted">
            description, cannot be longer than 255 characters.
          </small>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" (click)="brandModal.hide()">Close</button>
        <button type="button" class="btn btn-sm btn-primary" (click)="brandModal.hide()"
          (click)="addDropdownItems('brand')">
          Save </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div bsModal #supplierModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-info modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="area-category-modal">Add Product Supplier</h5>
        <button type="button" class="close" (click)="supplierModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group has-float-label">
          <label for="name"> Name. <span class="required">*</span> </label>
          <input type="text" name="name" [(ngModel)]="productSupplierObj.name" class="form-control" id="name">
          <small class="form-text text-muted">
            supplier, cannot be longer than 50 characters.
          </small>
        </div>
        <div class="form-group has-float-label">
          <label for="inputPassword4">Description</label>
          <input type="text" id="description" name="desc" [(ngModel)]="productSupplierObj.description"
            class="form-control">
          <small class="form-text text-muted">
            description, cannot be longer than 255 characters.
          </small>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" (click)="supplierModal.hide()">Close</button>
        <button type="button" class="btn btn-sm btn-primary" (click)="supplierModal.hide()"
          (click)="addDropdownItems('supplier')">
          Save </button>
      </div>
    </div>
  </div>
</div>